/* DashBoard */

html 
{
    scroll-behavior: smooth;
}

body 
{
    display: flex;
    background-color: whitesmoke;
    font-size: 12px;
    font-family: 'Nunito Sans';
    flex-direction: column;
}

/* nav-Bar */

    #nav-bar 
    {
        display: flex;
        background-color: white;
        height: 80px;
        align-items: center;
        position: sticky;
        top: 0px;
        z-index: 100;
    }

    /* Inside Nav bar */

    /* Part1: logo 1 */
        #ums-logo 
        {
            padding: 2px;
        }
        #ums-logo:hover 
        {
            transform: scale(1.05);
        }
    /* part1: end */

    /* Part2: dropdown */
        #nav-link 
        {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            font-size: 20px;
            padding: 2px;
        }

        .drop-down 
        {
            margin: 0 10px 0 0;
            padding:0 10px 0 10px;
            display: flex;
            flex-direction: column;
            position: relative;
            display: inline-block;
        }

        .dropbtn 
        {
            background-color: white;
            border: none;
            font-size: 16px;
        }

        .dropdown-content 
        {
            display: flex;
            flex-direction: column;
            display: none;
            position: absolute;
        }

        .dropdown-content a 
        {
            color: black;
            font-size: 16px;
            margin: 5px;
            text-decoration: none;
        }

        .dropdown-content a:hover 
        {
            font-size: 17px;
            width: 100%;
        }

        .drop-down:hover .dropdown-content 
        {
            display: block;
            display: flex;
            flex-direction: column;
            padding: 5px;
            background-color: whitesmoke;
        }
    /* Part2: end */

    /* Part3: User info */
        #user-info 
        {
            display: flex;
            width: 350px;
            justify-content: flex-end;
            align-items: center;
            height: 70px;
        }

        #user-details 
        {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 0 10px;
            font-size: 16px;
        }

        #user-logo 
        {
            height: 60px;
            width: 60px;
            position: relative;
        }

        #user-img 
        {
            height: 60px; 
            width: 60px;
            border-radius: 50%;
        }

        #user-img:hover 
        {
            transform: scale(1.15);
        }

        #reg, #course 
        {
            font-size: 12px;
        }

        #name:hover 
        {
            font-size: 17px;
            color: red;
        }
        #reg:hover 
        {
            color: blue;
        }
        #course:hover 
        {
            color: blue;
        }
    /* Part3: end */

/* Nav-bar end */

/* body-block */ 
    #body-block {
        display: flex;
        margin: 10px 0;
        
    }

    /* Part1: Access bar */
        #access-bar {
            display: flex;
            flex-direction: column;
            width: 100px;
            background-color: whitesmoke;
            border: 2px whitesmoke solid;
            /* #ffaa5a */
            /* rgba(255,170,90,255) */
        }

        #filler {
            display: flex;
            flex-direction: column;
            background-color: #ffaa5a;
            position: sticky;
            top: 90px;
        }
        .access-element{
            height: 100%;
            width: 100%;
            padding:2px;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
        }

        .access-element:hover{
            transform: scale(1.03);
        }

        .access-img{
            width: 85px;
            height: 85px;
            object-fit: contain;
        }

    /* Part2: body content */
        #body-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 50px;
            padding: 10px;
        }
        
        /* Inside body */
        
            /* Academics head */
            #Academics{
                display: flex;
                align-items: center;
                padding: 10px;
            }
        
                /* Title - Used for every subdiv inside body */
                .divTitle {
                font-size: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    margin-left: 5px;
                }
                /* Break used to create a line  */
                .divBreak {
                    background-color: black;
                    height: 0.5px;
                    margin: 5px 0;
                }

                /* Head Button Bar */
                #Button-Bar {
                    width: 100%;
                    display: flex;
                    margin-left: 10px;
                    padding:0 10px;
                    justify-content: flex-end;
                    align-items: center;
                }

                    /* Buttons  */
                    .Button{
                        margin: 0 5px;
                        border: none;
                        background-color: #1b83c9;
                        color: white;
                        border-radius: 15px;
                        padding: 8px 10px;
                    }

                    /* Hover Effect on buttons */
                    .Button:hover {
                        transform: scale(1.05);
                    }

            /* Academic content */
            #academic-content{
                display: flex;
                width: 100%;
                /* height: 400px; */
                flex-wrap: wrap;
            }
                /* Course container */
                #course-container {
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    width: 500px;
                    background-color: white;
                    border: #ffaa5a solid;
                    border-radius: 10px;
                    margin:10px;
                    padding:5px;
                    overflow: auto;
                }
                    /* Card title */
                    .container-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 26px;
                        background-color: #ffaa5a;
                        color: white;
                        border-radius: 15px;
                        margin:0 5px;
                        padding-left: 0px;
                        width: 150px;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    /* course list */
                    .course-list {
                        border: none;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        flex:0 0 90px;
                        margin: 5px 0;
                        resize: none;
                        padding: 5px;
                    }
                        /* course-list left segment */
                        .list-left {
                            display: flex;
                            align-items: center;
                            margin:5px 0;
                            height: 70px;
                            width: 380px;
                        }
                            /* outer circle */
                            .outer-circle{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex: 0 0 70px;
                                height: 100%;
                                padding: 6px;
                                background-color: rgb(18, 189, 18);
                                box-sizing: border-box;
                                border-radius: 100px;
                                resize: none;
                            }

                            /* inner circle */
                            .inner-circle {
                                width: 100%;
                                height: 100%;
                                border-radius: 100px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: whitesmoke;
                            }

                            /* inner circle - hover effect */
                            .inner-circle:hover {
                                transform: scale(1.1);
                            }

                            /* course-name */
                            .course-name {
                                display: flex;
                                align-items: center;
                                padding:0 5px;
                                font-size: 16px;
                            }

                        /* course-list right segment */
                        .list-right {
                            display: flex;
                            justify-content: flex-end;
                            padding: 5px;
                            margin: 5px;
                        }

                            /* course list content */
                            .ip {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }

                                /* anchor tag */
                                .ip a {
                                    width: 100%;
                                }

                                /* Ip button */
                                .ip-button {
                                    border: solid #ffaa5a 0.1px;
                                    width: 100%;
                                    border-radius: 20px;
                                    margin: 2px;
                                    background-color: white;
                                    text-decoration: none;
                                }

                                /* ip-button hover effect */
                                .ip-button:hover {
                                    color: white;
                                    background-color: #ffaa5a;
                                }
                                /*  */
                            /*  */
                        /*  */
                    /*  */
                /*  */

                /* Messages card */
                #message-container {
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    width: 500px;
                    background-color: white;
                    border: #ffaa5a solid;
                    border-radius: 10px;
                    margin:10px;
                    padding:5px;
                    overflow: auto;
                }

                    /* Message list */
                    .message-list {
                        display: flex;
                        flex-direction: column;
                        margin: 5px 0;
                    }

                        /* Message head */
                        .message-head {
                            font-size: 14px;
                            color: rgb(32, 29, 29);
                        }

                        /* Message content */
                        .message-body {
                            font-size: 12px;
                            color: grey;
                        }
                        /*  */
                    /*  */
                /*  */
                

                /* Event card */
                #event-container {
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    width: 400px;
                    background-color: white;
                    border: #ffaa5a solid;
                    border-radius: 10px;
                    margin: 70px 10px;
                    padding:5px;
                    overflow: auto;
                }

                /* Assignment card */
                #assignment-container {
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    width: 400px;
                    background-color: white;
                    border: #ffaa5a solid;
                    border-radius: 10px;
                    margin: 70px 10px;
                    padding:5px;
                    overflow: auto;
                }

                    /* Title */
                    .assignment-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 26px;
                        background-color: #ffaa5a;
                        color: white;
                        border-radius: 15px;
                        margin:0 5px;
                        padding-left: 0px;
                        width: 300px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    /*  */
                /*  */

                /* fee card */
                #fee-container {
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    width: 170px;
                    background-color: white;
                    border: #ffaa5a solid;
                    border-radius: 10px;
                    margin: 70px 10px;
                    padding:5px;
                    overflow: auto;
                }
            /*  */

            
            /* Placement Details */
            #Placements {
                display: flex;
                align-items: center;
                padding: 10px;
            }

                /* Placement drive container */
                #drive-container {
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    width: 400px;
                    background-color: white;
                    border: #ffaa5a solid;
                    border-radius: 10px;
                    margin: 50px 10px;
                    padding:5px;
                    overflow: auto;
                }
            
            #Examination {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            }

                #Exam-card {
                    display: flex;
                    height: 300px;
                    width: 500px;
                    background-color: whitesmoke;
                    border-radius: 10px;
                    margin: 50px 10px;
                    padding:5px;
                    overflow: auto;
                    flex-wrap: wrap;
                }

                .Exam-subcard {
                    display: flex;
                    height: 100px;
                    width: 140px;
                    background-color: white;
                    border: #ffaa5a solid;
                    border-radius: 10px;
                    margin: 10px ;
                    padding:5px 15px;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    box-sizing: border-box;
                    text-align: center;
                }

                /* Seating plan */
                #seating-container {
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    width: 500px;
                    background-color: white;
                    border: #ffaa5a solid;
                    border-radius: 10px;
                    margin: 50px 10px;
                    padding:5px;
                    overflow: auto;
                }

            #Announcements {
                display: flex;
                flex-direction: column;
                height: 500px;
                width: 97%;
                background-color: white;
                border: #ffaa5a solid;
                border-radius: 10px;
                padding: 5px;
                margin-top: 30px;
                overflow: auto;
            }

                .announce-card {
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 10px;
                    margin: 10px;
                    padding:5px;
                }

                .he {
                    font-size: 16px;
                    margin-bottom: 4px;
                }
                
                .bd {
                    font-size: 14px;
                    margin: 4px ;
                }
            #Authorities {
                width: 100%;
                height: 520px;
                display: flex;
                justify-content: center;
            }

            .mentor-card {    
                display: flex;
                flex-direction: column;
                height: 400px;
                width: 330px;
                background-color: white;
                border: #ffaa5a solid;
                border-radius: 10px;
                margin: 50px 10px;
                padding:5px; 
            }
            
            .dp {
                display: flex;
                height: 120px;
                justify-content: center;
                align-items: center;
            }
            
            .designation {
                display: flex;
                font-size: 26px;
                align-items: center;
                justify-content: center;
                background-color: rgb(186, 180, 180);
                padding: 2px;
                margin: 2px;
                color: rgb(78, 74, 74);
            }
            
            .details {
                padding: 10px;
                height: 120px;
            }
            
            .name-div {
                font-size: 14px;
            }
            
            .contact {
                font-size: 12px;
            }
            
            .appointment {
                margin: 10px 5px;
                border: none;
                background-color: #1b83c9;
                color: white;
                border-radius: 15px;
                padding: 8px 10px;
                text-decoration: none;
            }

/* customise the scroll bar */

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffaa5a;
  border-radius: 10px;
}