body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

#nav {
    display: flex;
    position: sticky;
    height: 50px;
    width: 100%;
    background-color: #2C3E50;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.home {
    color: white;
    margin: 10px;
    font-size: 20px;
}

#logo{
    height: 88px;
    width: 176px;
    padding-left: 25px;
}
#uniname
{
    padding-left: 256px;
    font-size: xxx-large;
    color:white;
}
#firstheader{
    border:1px solid gray;
    background-color:rgb(57 143 242);
    border-radius: 6px;
}
.navigation_bar
{
    line-height: 2em;
    font-size:larger;
    padding-left: 316px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.subheading{
    padding-left: 545px;
    border:1px solid gray;
    border-radius: 6px;
    color: white;
    font-size: x-large;
    background-color: rgb(92 162 255);
}

.slideShow-container {
    width: 100%;
    height: 520px;
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
}

.card {    
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    background-color: white;
    border: #2d71cc solid;
    border-radius: 10px;
    margin: 50px 10px;
    padding:5px; 
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 40px;
    background-color: rgb(176, 160, 160);
    letter-spacing: 0.05em;
}

.head .prev,.head .next {
    cursor: pointer;
    width: 15px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.head .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin: 0 40px;
}

.head .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    margin: 0 40px;
}

.prev:hover, .next:hover {
    background-color: rgba(133, 129, 129, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.bod {
    display: flex;
    flex-direction: column;
    margin: 20px 0; 
}

.lecture {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: bisque; */
    font-size: 20px;
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

.room-no {
    position: relative;
}

.card {
    display: none;
}

.mon {
    display: block;
}

.day {
    width: 100px;
    text-align: center;
}
